.u-button-special {
  color: var(--color-primary) !important;
  padding-left: 1.5rem !important;
  padding-right: 0.5rem;
  &::after {
    content: ">";
    margin-left: 1rem;
    @include button-typo;
    color: var(--color-primary) !important;
  }
  
  &::before {
    content: "<";
    margin-right: 1rem;
    color: var(--color-primary) !important;
    @include button-typo;
  }
}


////////////////////////////////////////////////////////////////
/////// Utility 

.u-hidden {
  display: none;
}

.u-flex {
  width : 100%;
  @include flex;
}

.u-flex-column {
  @include flex;
  align-items: flex-start;
  flex-direction: column;
}

.u-color-text {
  color: var(--color-primary);
  // border-bottom: 1px solid var(--color-primary);
  padding-bottom: 1px;
}

.u-margin-top-minus {
  margin-top: -3rem !important;
}

.u-margin-right-minus2 {
  margin-right: -0.8rem !important;
}

.u-margin-right-minus {
  margin-right: -2.5rem !important;
}

.u-new-tag {
  background-color: var(--color-primary);
  padding: 1rem 1.5rem;
  justify-self: center;
  font-weight: 400 !important;
  color: var(--bg-dark);

  border-radius: 0.5rem;

  animation: blink 7.5s linear infinite;
}

.u-section-padding {
  margin: 10rem 0;
}

.u-margin-bottom-3 {
  margin-bottom: 3.5rem;
}

.u-padding-left-small {
  padding-left: 0 !important;
}

.u-color-blue {
  color: #3BC6FF;
}

.u-mt-20 {
  padding-top: 15rem;
}

.u-mt-7 {
  margin-top: 6.4rem !important;
}

.u-mt-3 {
  @include respond(tab-port) {
    margin-top: 3.2rem !important;
  }
}

.u-width-100 {
  width: 100% !important;
}

.u-hidden {
  display: none ;
} 

.u-rotate-left {
  transform: rotate(180deg) !important;
}

/////////////////////////////////////////
///  Animation utilities

.transform_down{
  transform: scale(0) !important;
  transform: translateY(-1rem);
}

.transform_up {
  transform: scale(1) !important;
  transform: translateY(0);
  transition: all 1s ease-in-out !important;
}

.u-hidden {
  display: none !important;
}