<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Community | Piyush Sultaniya</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" type="image/x-icon" href="./drawables/logo test 2.png" />
  </head>
  <body class="community-body" >

    <!-- LOGIN SCREEN -->
    <section class="login u-flex u-hidden" id="login">
      <div class="login__inner">
        <div class="login__input u-flex-column" style= "margin-bottom: 4.8rem;">
          <label for="login__input--name" class="login__input--text h5">Username</label>
          <input type="text" class="login__input--placeholder body1" id= 'login__input--name' placeholder="Username..">
        </div>

        <div class="login__input u-flex-column " style= "margin-bottom: 4.8rem;">
          <label for="login__input--password" class="login__input--text h5">Password</label>
          <input type="password" class="login__input--placeholder body1" id= 'login__input--password' placeholder="Password..">
        </div>

        <button class="h6 login__cta" id="login__cta">
          Submit
        </button>
      </div>
    </section>

    <!-- 0. Navbar -->
    
    <section class="navbar" id ="navbar">
        <div class="navbar__inner">
          <a href="./index.html" style="text-decoration: none;">
          <h5 class="h5 navbar__logo--text">Piyush___</h5>
          </a>
          
  
          <div class="navbar__button-wrapper">
            <a href="./index.html" class="button navbar__button u-margin-right-minus">Home</a>
            <a href="./index.html#projects" class="button navbar__button" id="projects_goto">Projects</a>
            <a href="./index.html#certificates" class="button navbar__button  u-margin-right-minus2 u-padding-left-small">Certificates</a>
            <a href="./community.html" class="button navbar__button u-button-special">Community</a>
            <a href="./index.html#contact" class="button navbar__button u-padding-left-small">Contact</a>
          </div>

          <div class="navbar__menubar" id="menubar">
            <div class="navbar__menubar--line" id="menubar__line">
                &nbsp;
            </div>
          </div>
  
    </section>

      <div class="navbar__mobile u-hidden" id="navbar_mobile">
        <div class="navbar__button-wrapper--mobile">
            <a href="./index.html" class="h5 navbar__button u-padding-left-small u-margin-bottom-3" id="homeNav">Home</a>
            <a href="./index.html#projects" class="h5 navbar__button u-padding-left-small u-margin-bottom-3" id="projectNav">Projects</a>
            <a href="./index.html#certificates" class="h5 navbar__button u-padding-left-small u-margin-bottom-3" id="certNav">Certificates</a>
            <div class="u-flex">
              <a href="./community.html" class="h5 navbar__button u-button-special u-margin-bottom-3" id="communityNav">Community</a>
              <span class="u-new-tag body2">New</span>
            </div>
            <a href="./index.html#contact" class="h5 navbar__button u-padding-left-small u-margin-bottom-3" id="contactNav">Contact</a>
        </div>
      </div>

      

      <div class="content" id="content" style="transition: all 1s ease">
        <!-- 0.1 Roadmap -->
    
    <section class="roadmap" id ="roadmap">
      <div class="roadmap__inner u-flex" style="flex-wrap: wrap;">
        <div class="roadmap__subject subject--1 u-flex" id="ds_cta">
        <div class="roadmap__subject-inner u-flex">
          <p class="h6 roadmap__subject-text" style="display:block;">DS & Algo</p>
        </div>
        </div>

        <div class="roadmap__subject subject--2 u-flex"  onclick= "alert('Coming Soon.. 🧑‍💻')">
          <div class="roadmap__subject-inner u-flex">
            <p class="h6 roadmap__subject-text">DBMS</p>
          </div>
          </div>

          

            <div class="roadmap__subject subject--3 u-flex" onclick= "alert('Coming Soon.. 🧑‍💻')">
              <div class="roadmap__subject-inner u-flex">
                <p class="h6 roadmap__subject-text">Operating System</p>
              </div>
              </div>

              <div class="roadmap__subject subject--4 u-flex" onclick= "alert('Coming Soon.. 🧑‍💻')">
                <div class="roadmap__subject-inner u-flex">
                  <p class="h6 roadmap__subject-text">Computer Networks</p>
                </div>
                </div>
            
                <div class="roadmap__subject subject--5 u-flex" onclick= "alert('Coming Soon.. 🧑‍💻')">
                  <div class="roadmap__subject-inner u-flex">
                    <p class="h6 roadmap__subject-text">System Design</p>
                  </div>
                  </div>

      </div>

  </section>

              <!-- COMMUNITY CARDS -->

      <!-- STRIVER SHEET -->
      <section class="community-main" style="margin-top: 12rem">
        

        <div class="community-main__inner">
          
          <div class="heading-wrapper" id="ds_section">
              <h2 class="h2 heading-wrapper__heading">Striver's SDE SHEET</h2>
              <h6 class="body1 heading-wrapper__sub-heading">ALL Solutions {In Python}</h6>
          </div>
          
        
        <div class="community-main__card-wrapper">
  
          <div class="community-card">
              <img src="./drawables/Linked list --with tags.png" alt="Linked list" class="community-card__img">
  
              <div class="community-card__wrapper">
                  <h6 class="community-card__text body2"> <span class="u-color-text">Pro Tip</span>: "Looks easy but can be complicated many times as dealing with ptr, so always practice on P & P"</h6>
  
                  <div class="community-card__card-container">
                    <div class="u-flex">
                      <p class="body1 community-card__card-cta">Code Links: </p>
                      <a href="https://github.com/gitPiyushhh/piyush___LinkedList" target="_blank" class = "community-card__card-link body1">Open Link</a>
                  </div>
  
                  <div class="u-flex">
                      <p class="body1 community-card__card-cta">Hand Notes: </p>
                      <a href="https://drive.google.com/file/d/1BkAUzepAwkx1z4p-X4MVv-l57aT8Frw8/view" target ="_blank" class = "community-card__card-link body1">Open Link</a>
                  </div>
                  </div>
  
                  <div class="u-flex community-card__card-footer">
                    <p class="overline community-card__card-date">Created at: 10-10-2022</p>
                    <!-- <p class="overline community-card__card-date">Autour: Piyush</p> -->
                  </div>
              </div>
              
          </div>
  
        </div>
        </div>
        </section>
  
        <!-- IMPORTANT TECHNIQUES -->
        <section class="community-main u-margin-top-minus">
          
  
        <div class="community-main__inner">
          
          <div class="heading-wrapper">
              <h2 class="h2 heading-wrapper__heading">Programming Techniques</h2>
              <h6 class="body1 heading-wrapper__sub-heading">Lvl up as a programmer</h6>
          </div>
          
          <div class="community-main__card-wrapper u-flex">
  
            <div class="community-card">
              <img src="./drawables/OOPs banner.png" alt="OOPS" class="community-card__img">
  
              <div class="community-card__wrapper">
                  <h6 class="community-card__text body2"> <span class="u-color-text">Pro Tip</span>: "Sometimes we just want to revise just the code implementations of OOPs concept, so here it is 🙂"</h6>
  
                  <div class="community-card__card-container">
                    <div class="u-flex">
                      <p class="body1 community-card__card-cta">Code Links: </p>
                      <a href="https://github.com/gitPiyushhh/OOPS" target="_blank" class = "community-card__card-link body1">Open Link</a>
                  </div>
  
                  <div class="u-flex">
                      <p class="body1 community-card__card-cta">Hand Notes: </p>
                      <a href="#" target ="_blank" class = "community-card__card-link body1">Open Link</a>
                  </div>
                  </div>
  
                  <div class="u-flex community-card__card-footer">
                    <p class="overline community-card__card-date">Created at: 17-10-2022</p>
                    <!-- <p class="overline community-card__card-date">Autour: Piyush</p> -->
                  </div>
              </div>
              
            </div>
  
            <div class="community-card u-mt-3">
                <img src="./drawables/Two ptr banner.png" alt="Two pointers" class="community-card__img">
    
                <div class="community-card__wrapper">
                    <h6 class="community-card__text body2"> <span class="u-color-text">Pro Tip</span>: "Always try to think of two ptrs if you have terms like 'sorted array', 'reduce time complexity'"</h6>
    
                    <div class="community-card__card-container">
                      <div class="u-flex">
                        <p class="body1 community-card__card-cta">Code Links: </p>
                        <a href="https://github.com/gitPiyushhh/piyush___TwoPtr" target="_blank" class = "community-card__card-link body1">Open Link</a>
                    </div>
    
                    <div class="u-flex">
                        <p class="body1 community-card__card-cta">Hand Notes: </p>
                        <a href="#" target ="_blank" class = "community-card__card-link body1">Open Link</a>
                    </div>
                    </div>
    
                    <div class="u-flex community-card__card-footer">
                      <p class="overline community-card__card-date">Created at: 13-10-2022</p>
                      <!-- <p class="overline community-card__card-date">Autour: Piyush</p> -->
                    </div>
                </div>
                
            </div>
  
            <div class="community-card u-mt-3">
              <img src="./drawables/Recursion banner.png" alt="Two pointers" class="community-card__img">
  
              <div class="community-card__wrapper">
                  <h6 class="community-card__text body2"> <span class="u-color-text">Pro Tip</span>: "Whenever you see that we have to explore all the possibilities {then always recur}"</h6>
  
                  <div class="community-card__card-container">
                    <div class="u-flex">
                      <p class="body1 community-card__card-cta">Code Links: </p>
                      <a href="https://github.com/gitPiyushhh/piyush___Recursion" target="_blank" class = "community-card__card-link body1">Open Link</a>
                  </div>
  
                  <div class="u-flex">
                      <p class="body1 community-card__card-cta">Hand Notes: </p>
                      <a href="#" target ="_blank" class = "community-card__card-link body1">Open Link</a>
                  </div>
                  </div>
  
                  <div class="u-flex community-card__card-footer">
                    <p class="overline community-card__card-date">Created at: 25-10-2022</p>
                    <!-- <p class="overline community-card__card-date">Autour: Piyush</p> -->
                  </div>
              </div>
              
          </div>
  
          </div>
          
          <div class="community-main__card-wrapper u-flex">
  
            <div class="community-card u-mt-3">
                <img src="./drawables/bfs banner.png" alt="Linked list" class="community-card__img">
    
                <div class="community-card__wrapper">
                    <h6 class="community-card__text body2"> <span class="u-color-text">Pro Tip</span>: "Whenever lvl-by-lvl then BFS, whenever BFS then queue.."</h6>
    
                    <div class="community-card__card-container">
                      <div class="u-flex">
                        <p class="body1 community-card__card-cta">Code Links: </p>
                        <a href="https://github.com/gitPiyushhh/piyush___BFS" target="_blank" class = "community-card__card-link body1">Open Link</a>
                    </div>
    
                    <div class="u-flex">
                        <p class="body1 community-card__card-cta">Hand Notes: </p>
                        <a href="#" target ="_blank" class = "community-card__card-link body1">Open Link</a>
                    </div>
                    </div>
    
                    <div class="u-flex community-card__card-footer">
                      <p class="overline community-card__card-date">Created at: 02-11-2022</p>
                      <!-- <p class="overline community-card__card-date">Autour: Piyush</p> -->
                    </div>
                </div>
                
            </div>

            <div class="community-card u-mt-3">
              <img src="./drawables/dfs banner.png" alt="DFS" class="community-card__img">
  
              <div class="community-card__wrapper">
                  <h6 class="community-card__text body2"> <span class="u-color-text">Pro Tip</span>: "Whenever 'path' keyword, whenever DFS then recursion.."</h6>
  
                  <div class="community-card__card-container">
                    <div class="u-flex">
                      <p class="body1 community-card__card-cta">Code Links: </p>
                      <a href="https://github.com/gitPiyushhh/piyush___DFS" target="_blank" class = "community-card__card-link body1">Open Link</a>
                  </div>
  
                  <div class="u-flex">
                      <p class="body1 community-card__card-cta">Hand Notes: </p>
                      <a href="#" target ="_blank" class = "community-card__card-link body1">Open Link</a>
                  </div>
                  </div>
  
                  <div class="u-flex community-card__card-footer">
                    <p class="overline community-card__card-date">Created at: 09-11-2022</p>
                    <!-- <p class="overline community-card__card-date">Autour: Piyush</p> -->
                  </div>
              </div>
              
          </div>
    
          </div>
        </div>
        
        </section>
  
          <!-- INTERVIEW QUESTIONS  -->
          <section class="community-main u-margin-top-minus" style="padding: 0">
          
  
            <div class="community-main__inner">
              
              <div class="heading-wrapper">
                  <h2 class="h2 heading-wrapper__heading">Previous Interviews</h2>
                  <h6 class="body1 heading-wrapper__sub-heading">Learn from mistakes</h6>
              </div>
              
              <div class="community-main__card-wrapper u-flex">
      
                <div class="community-card u-width-100" style="background-color: transparent;">
                  <img src="./drawables/Interview expirence banner.png" alt="OOPS" class="community-card__img u-width-100" style="border-radius: 0; border-bottom: 0.5px solid grey;">
      
                  <div class="community-card__wrapper " style="padding: 1rem;">
      
                      <div class="community-card__card-container" >
                        <div class="u-flex-column">
  
                          <a href="https://aware-homburg-c82.notion.site/Protiviti-Interview-Questions-55ab6a84cd324379a41cc1076c812576" target="_blank" class = "community-card__card-link body1">1. Protiviti</a>
                      </div>
      
                      
                      </div>
      
                      <div class="u-flex community-card__card-footer">
                        <!-- <p class="overline community-card__card-date">Created at: 19-10-2022</p> -->
                        <!-- <p class="overline community-card__card-date">Autour: Piyush</p> -->
                      </div>
                  </div>
                  
              </div>
      
              </div>
            
            </div>
            </section>
  
        
  
        <!-- FRONTEND TECHNIQUES -->
        <section class="community-main u-margin-top-minus u-hidden" >
          
  
          <div class="community-main__inner">
            
            <div class="heading-wrapper">
                <h2 class="h2 heading-wrapper__heading">Frontend Stack</h2>
                <h6 class="body1 heading-wrapper__sub-heading">Create asthetic screens</h6>
            </div>
  
            <div class="community-main__card-wrapper u-flex u-overflow-scroll">
              <div class="community-main__snippets">
                <div class="community-main__snippets-img-wrapper u-margin-right-minus"  id="test1">
                  <img src="./drawables/frontend - 1 --1.png" alt="Snippet 1" class="community-main__snippets-img">
                </div>
    
                <div class="community-main__snippets-wrapper">
                  <h6 class="community-main__snippets-text h5">
                    Snippet-1
                  </h6>
                </div>
    
                <div class="community-main__snippets-btn-wrapper u-flex ">
                  <p class="h5 community-main__snippets-back community-main__snippets-btn " id="snippet-1back">&#171;Prev</p>
                  <p class="h5 community-main__snippets-fwd community-main__snippets-btn " id="snippet-1fwd">Next&#187;</p>
                </div>
              </div>
  
              <div class="community-main__snippets">
                <div class="community-main__snippets-img-wrapper"  id="test2">
                  <img src="./drawables/frontend - 2 --1.png" alt="Snippet 2" class="community-main__snippets-img">
                </div>
    
                <div class="community-main__snippets-wrapper">
                  <h6 class="community-main__snippets-text h5">
                    Snippet-2
                  </h6>
                </div>
    
                <div class="community-main__snippets-btn-wrapper u-flex">
                  <p class="h5 community-main__snippets-back community-main__snippets-btn " id="snippet-2back">&#171;Prev</p>
                  <p class="h5 community-main__snippets-fwd community-main__snippets-btn " id="snippet-2fwd">Next&#187;</p>
                </div>
              </div>
  
              <div class="community-main__snippets">
                <div class="community-main__snippets-img-wrapper"  id="test3">
                  <img src="./drawables/frontend - 3 --1.png" alt="Snippet 3" class="community-main__snippets-img">
                </div>
    
                <div class="community-main__snippets-wrapper">
                  <h6 class="community-main__snippets-text h5">
                    Snippet-3
                  </h6>
                </div>
    
                <div class="community-main__snippets-btn-wrapper u-flex">
                  <p class="h5 community-main__snippets-back community-main__snippets-btn " id="snippet-3back">&#171;Prev</p>
                  <p class="h5 community-main__snippets-fwd community-main__snippets-btn " id="snippet-3fwd">Next&#187;</p>
                </div>
              </div>
  
        
            </div>
          
  
  
  
            
          </div>
          </section>
  
        
          <!-- 5. DISCORD {styled in the _community.scss page} -->
          
          <section class="discord u-section-padding" style="margin-bottom: 5rem;">
            <div class="discord__inner u-flex">
              <h4 class="h6 discord__text">"Join discord group for updates"</h4>
              <a href="https://discord.gg/vzMRAVvx" target="blank" class="discord__btn u-flex" style="width: fit-content;"><span><p class="body1" style="display: inline-block; font-weight: 400; margin-right: 1.2rem;">Join Group</p></span><img src="./drawables/discord__icon.svg" alt="" class="contact__img discord__icon" style="display: inline-block; margin: 0; width: 4rem; height: auto; outline: none;"></a>
            </div>
          </section>
      </div>
        
        
        <!-- 6. Footer -->
  
      <section class="footer" style="background-color: #2D2E32;">
        <div class="footer__inner">
          <h4 class="h6 footer__copyright">All copyrights reserved to Piyush &copy; 2022</h4>
        </div>
      </section>





    <!-- ////////////////////////  JS Files  ///////////////////////////////// -->

    <script src="./js/community.js" async defer></script>
    <!-- <script src="script.js" async defer></script> -->

    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script> -->

    <!-- ////////////////////////  FOnts Files  ///////////////////////////////// -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Autour+One&family=IM+Fell+English+SC&display=swap"
      rel="stylesheet"
    />

    <!-- ////////////////////////  Icons Files  ///////////////////////////////// -->
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  </body>
</html>
