<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html id="html">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>I am Piyush</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(document).ready(function(){
        $("preloader").addClass('u-hidden');
        console.log("Start");
      });
      </script>


  </head>
  <body>


    <!-- -1. Name Signature Preloader -->

    <section class="preloader" id="preloader">
      <div class="preloader__wrapper">
        <h1 class="h1 preloader__sign">Piyush</h1>
        <div class="preloader__line">&nbsp;</div>
      </div>
    </section>



    <!-- 0. Navbar -->
    
    <section class="navbar">
      <div class="navbar__inner">
        <img
          src="./drawables/Logo.png"
          alt="Website Logo"
          class="navbar__logo"
        />

        <div class="navbar__button-wrapper">
          <a href="#" class="button navbar__button u-button-special">Home</a>
          <a href="#projects" class="button navbar__button">Works</a>
          <a href="#testimonials" class="button navbar__button u-padding-left-small">Testimonials</a>
        </div>

        <div class="navbar__links-wrapper">
          <a href="https://www.linkedin.com/in/piyush-sultaniya-a5296a220/" class="link" target="_blank">
            <div class="iconify-container">
              <span class="iconify" data-icon="akar-icons:linkedin-fill"></span>
            </div>
            <a href="#" class="button link__text">Linked in</a>
          </a>

          <a href="https://github.com/gitPiyushhh" class="link" target="_blank">
            <div class="iconify-container">
              <span class="iconify" data-icon="akar-icons:github-fill"></span>
            </div>
            <a href="#" class="button link__text">Github</a>
          </a>

          <a href="mailto:@piyushhhagarwal@gmail.com?subject=From%20your%20Portfolio" target="_blank">
            <div class="navbar__cta">
              <span class="iconify" data-icon="ant-design:mail-outlined"></span>
            </div>
          </a>

        </div>

        <!-- <div id="hamburger u-hidden">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div> -->

    </section>
    <!-- 1. Hero Header -->

    <section class="header">
        <div class="header__inner">
            <div class="header__left">
                <p class="header__tag">
                    Designer & Developer
                </p>

                <h2 class="h2 header__heading">
                    Talk is cheap.<br>
                    Show me the code
                </h2>

                <p class="body1 header__sub-heading">
                    I design & code attractive and beautiful<br>
                     screens & I love what I do   
                </p>

                <!-- <a href = "#" class="btn--underline button header__cta">Let's chat</a> -->
                

                  <p class="button btn--neon  header__cta">
                    <span class="btn--neon-1"></span>
                    <span class="btn--neon-2"></span>
                    <span class="btn--neon-3"></span>
                    <span class="btn--neon-4"></span>
                    <a class="btn--neon__text"id="resume-btn" >View resume</a>
                  </p>
              

                <a href="#about">
                  <div class="header__wrapper">
                    <div class="iconify-container header__down">
                        &nbsp;
                    </div>
                </div>
                </a>
          
            </div>

            <div class="header__right">
                <img src="./drawables/pf11-removebg.png" alt="Hero Image" class="header__img">
            </div>
        </div>
    </section>

    <!-- 2. Intro -->

    <section class="about" id="about">
        <div class="about__inner">
            <div class="about__left">
                
                <div class="about-card">
                    <h6 class="about-card__heading h5">Design</h6>
    
                    <p class="about-card__text body2">I design robust & user centric interfaces</p>
    
                    <p class="about-card__number button">5 Projects</p>

                    <div class="about-card__img">
                        <span class="iconify" data-icon="gis:measure-line"></span>
                    </div>
                </div>

                <div class="about-card">
                    <h6 class="about-card__heading h5">Frontend</h6>
    
                    <p class="about-card__text body2">I develop frontend with seamless coding</p>
    
                    <p class="about-card__number button">5 Projects</p>

                    <div class="about-card__img">
                        <span class="iconify" data-icon="bi:code-slash"></span>
                    </div>
                </div>

                <div class="about-card">
                    <h6 class="about-card__heading h5">Backend</h6>
    
                    <p class="about-card__text body2">I can write robust & scalable backend code</p>
    
                    <p class="about-card__number button">5 Projects</p>

                    <div class="about-card__img">
                        <span class="iconify" data-icon="ant-design:cloud-server-outlined"></span>
                    </div>
                </div>
            </div>

            <div class="about__right">
              <h6 class="about__heading h6">Intro</h6>

              <h5 class="about__sub-heading h5">
                Hello! I'm Piyush Sultaniya
              </h5>

              <p class="about__caption body1">Every great project begin with the  right people..</p>
              
              <p class="about__text body1">Namaste, I am Piyush. I am an entry level web-developer and a pre-final year grad.Its been more than a year till I started my journey as a web developer. I have completed a handful of projects that fit to business & consumer needs. CIn addition to this I am also a interface & experience designer which powers me to make useful & attractive interfaces.urrently I am working on Node.js to sharpen my backend development skills. </p>

              <!-- <div id="button-background">
                <span class="slide-text">Swipe</span>
                <div id="slider">
                  <i id="locker" class="material-icons">lock</i>
                </div>
              </div> -->
            </div>
        </div>
    </section>

    <!-- 3. Projects -->

    <section class="projects u-mt-20" id="projects">
      <div class="projects__inner">

        <div class="heading-wrapper">
          <h2 class="h2 heading-wrapper__heading">Projects</h2>
          <h6 class="body1 heading-wrapper__sub-heading">Recent from 'Knapsack'</h6>
        </div>

        <div class="projects__content-wrapper">
          

          <!-- Porject-1: Kislay NGO Website -->
          <div class="project-card">
            <img src="./drawables/Kislay.png" alt="Kislay Seva Sansthan" class = "project-card__img">
  
            <div class="project-card__wrapper">
              <p class="h5 project-card__title">Kislay NGO Website</p>
  
            <!-- <p class="h6 project-card__heading">Tech Stack:</p> -->
  
            <ul class="project-card__list">
              <li><p class="body2 project-card__text">Complete design & prototyping on Figma</p></li><br>
              <li><p class="body2 project-card__text">HTML/CSS, SCSS, Node.js, J-Querry, Java script</p></li><br>
              <li><p class="body2 project-card__text">Deployed on heroku</p></li><br>
              <li><p class="body2 project-card__text">Razorpay payment gateway integration</p></li>
            </ul>
  
            <!-- <a href="joinkislay.herokuapp.com" class="project-card__link button">Visit here &#x1F517;</span> </a> -->
            <a href="http://joinkislay.herokuapp.com/" class="project-card__link button">
              <span class="iconify" data-icon="bx:bx-link-external"></span> </a>
            </div>
          </div>

           <!-- Porject-2: Yet to come -->
           <div class="project-card">
            <div class="project-card__yet-to-come">
              <h3 class="h2 project-card__coming">Coming</h3>

              <div class="project-card__wrapper-soon">
                <h5 class="h1 project-card__s">	&#83; </h5>
                <h5 class="h1 project-card__o">	&#9675; </h5>
                <h5 class="h1 project-card__o--blink">	&#9679; </h5>
                <h5 class="h1 project-card__n">	&#78; </h5>
              </div>
  
            </div>
          </div>

           <!-- Porject-3: Yet To Come -->
           <div class="project-card">
            <div class="project-card__yet-to-come">
              <h3 class="h2 project-card__coming">Coming</h3>

              <div class="project-card__wrapper-soon">
                <h5 class="h1 project-card__s">	&#83; </h5>
                <h5 class="h1 project-card__o">	&#9675; </h5>
                <h5 class="h1 project-card__o--blink">	&#9679; </h5>
                <h5 class="h1 project-card__n">	&#78; </h5>
              </div>
  
            </div>
          </div>

      </div>

      <p class="button btn--neon projects__cta  u-mt-7">
        <span class="btn--neon-1"></span>
        <span class="btn--neon-2"></span>
        <span class="btn--neon-3"></span>
        <span class="btn--neon-4"></span>
        View All Projects
      </p>

      </div>
    </section>

    <!-- 4. Recommendations -->
    
    <section class="testimonials" id="testimonials">
      <div class="testimonials__inner">

        <div class="heading-wrapper u-mt-7">
          <h2 class="h2 heading-wrapper__heading">Recommendations</h2>
          <h6 class="body1 heading-wrapper__sub-heading">Those who recommend me</h6>
        </div>

        <div class="testimonials__content-wrapper">

          <!-- 1. Card-1 -->
          <div class="testimonial-card" id="test-card-1">
            <h1 class="h1 testimonial-card__after">&#34;</h1>

            <h5 class="h5 testimonial-card__title">Praveen Pandey</h5>

            <h6 class="caption testimonial-card__post">Kislay seva Sansthan</h6>
            
            <p class="body1 testimonial-card__text">Piyush has performed all the tasks with near perfection. His technical, collaborating & empathetic skills are good. I recommend him & wish him luck for future..</p>
          </div>


          <!-- 2. Card-2 -->
          <div class="testimonial-card u-hidden" style="height: 100% !important;" id="test-card-2">
            <div class="project-card__yet-to-come">
              <h3 class="h2 project-card__coming">Coming</h3>

              <div class="project-card__wrapper-soon">
                <h5 class="h1 project-card__s">	&#83; </h5>
                <h5 class="h1 project-card__o">	&#9675; </h5>
                <h5 class="h1 project-card__o--blink">	&#9679; </h5>
                <h5 class="h1 project-card__n">	&#78; </h5>
              </div>
  
            </div>
          </div>

          <!-- 3. Card-3 -->
          <div class="testimonial-card u-hidden" style="height: 100% !important;" id="test-card-3">
            <div class="project-card__yet-to-come">
              <h3 class="h2 project-card__coming">Coming</h3>

              <div class="project-card__wrapper-soon">
                <h5 class="h1 project-card__s">	&#83; </h5>
                <h5 class="h1 project-card__o">	&#9675; </h5>
                <h5 class="h1 project-card__o--blink">	&#9679; </h5>
                <h5 class="h1 project-card__n">	&#78; </h5>
              </div>
  
            </div>
          </div>
          

          <!-- <div class="testimonials__move">
            <h2 class="h3 testimonials__symbol">&#8594;</h2>
          </div>
  
          <div class="testimonials__move u-rotate-left testimonials__move--back">
            <h2 class="h3 testimonials__symbol">&#8594;</h2>
          </div> -->

        </div>

        

        <!-- Dots container -->

        <div class="testimonials__dot-container">
          <a  class="testimonials__dot testimonials__dot--active" id="dot-1"></a>
          <a  class="testimonials__dot testimonials__dot" id="dot-2"></a>
          <a  class="testimonials__dot testimonials__dot" id="dot-3"></a>
        </div>


      </div>
    </section>


    <!-- 5. Contact -->

    <section class="contact">
      <div class="contact__inner">
        <div class="heading-wrapper u-mt-7">
          <h2 class="h2 heading-wrapper__heading">Let's connect</h2>
          <h6 class="body1 heading-wrapper__sub-heading">Start with a "hi"!</h6>
        </div>

        <div class="contact__content-wrapper">

          <a href="https://www.linkedin.com/in/piyush-sultaniya-a5296a220/" target="_blank"><img src="./drawables/linkedin.svg" alt="" class="contact__img"></a>
          <a href="https://github.com/gitPiyushhh" target="blank"><img src="./drawables/github.svg" alt="" class="contact__img"></a>
          <a href="https://dribbble.com/Piyushhh______" target="blank"><img src="./drawables/dribbble.svg" alt="" class="contact__img"></a>
          <a href="mailto:@piyushhhagarwal@gmail.com?subject=From%20your%20Portfolio" target="blank"><img src="./drawables/outgoing_mail.svg" alt="" class="contact__img"></a>

        </div>

        
      </div>
    </section>

    <!-- 6. Footer -->

    <section class="footer">
      <div class="footer__inner">
        <h4 class="h6 footer__copyright">All copyrights reserved to Piyush &copy; 2022</h4>
      </div>
    </section>


    <!-- ////////////////////////  JS Files  ///////////////////////////////// -->

    <script src="script.js" async defer></script> 
    <!-- <script src="script.js" async defer></script> -->
    
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script> -->

    <!-- ////////////////////////  FOnts Files  ///////////////////////////////// -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Autour+One&family=IM+Fell+English+SC&display=swap" rel="stylesheet">

    <!-- ////////////////////////  Icons Files  ///////////////////////////////// -->
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>


  </body>
</html>
